<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ZVM"
    Manufacturer="Tristan Isham"
    Version="$(var.ProductVersion)"
    UpgradeCode="34792705-2eed-480c-ac6b-52b8fbdbbac9"
    Scope="perUser">

    <SummaryInformation Description="Zig Version Manager" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of ZVM is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="ZVM" Level="1">
      <ComponentRef Id="ZvmExecutable" />
    </Feature>

    <SetDirectory Id="INSTALLFOLDER" Value="[%USERPROFILE]\.zvm\self" />
  </Package>

  <Fragment>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ZvmExecutable" Guid="6c8b1f0e-9a5d-4c2b-8f7a-1d3e5b9c04a7">
        <!-- ICE38: a component installing into the user profile must key off HKCU. -->
        <RegistryValue
          Root="HKCU"
          Key="Software\TristanIsham\ZVM"
          Name="InstallFolder"
          Type="string"
          Value="[INSTALLFOLDER]"
          KeyPath="yes" />
        <File Id="ZvmExe" Source="$(var.SourceExe)" Name="zvm.exe" />
        <!-- ICE64: user-profile directories must be removed on uninstall. -->
        <RemoveFolder Id="RemoveZvmSelfFolder" Directory="INSTALLFOLDER" On="uninstall" />
        <Environment
          Id="ZvmInstallEnvironment"
          Name="ZVM_INSTALL"
          Value="[INSTALLFOLDER]"
          Action="set"
          System="no" />
        <Environment
          Id="ZvmSelfPath"
          Name="PATH"
          Value="[INSTALLFOLDER]"
          Action="set"
          Part="last"
          System="no" />
        <Environment
          Id="ZvmBinPath"
          Name="PATH"
          Value="[%USERPROFILE]\.zvm\bin"
          Action="set"
          Part="last"
          System="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
